body{
    background-color:rgb(220,220,220);
}

.h1{
    font-family: "Lacquer";
   

}

.lead{
    font-family: "Dosis";
    color:red;
    
}

h4{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Ubuntu";
    
}

.page-footer{
    background-color:#858679;
    color:black;
}

a{
    color:black;
}

.form-group{
    width:80%;
}

.col{
    padding:0.01px;
}

#last-footer{
    background-color:#797a6f;
    margin-bottom:20px;
}

#cart{
    margin:10px;
}






.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 992px) {
    table#cartitem tbody td .form-control{
		display: inline !important;
	}
	.actions .btn{
		width:37%;
		margin:1.5em 0;
	}
	
	.actions .btn-danger{
        width:100%;
	}
	
	table#cartitem thead { display: none; }
	table#cartitem tbody td { display: block; padding: .5rem; min-width:310px;}
	table#cartitem tbody tr td:first-child { background: rgb(138, 135, 135); color: rgb(37, 36, 36); }
	table#cartitem tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cartitem tfoot td{display:block; }
	table#cartitem tfoot td .btn{display:block;}
	
}