body{
    background-color:rgb(220,220,220);
}


.h1{
    font-family: 'Lora', serif;
    
   

}

.lead{
    font-family: 'Lora', serif;

    
}

h4{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Ubuntu";
    
}


.page-footer{
    background-color:#858679;
    color:black;
}

a{
    color:black;
}


#last-footer{
    background-color:#797a6f;
    margin-bottom:20px;
}


#contactform{
    padding:10px;
}

.form-group{
    width:80%;
}

#send{
    width: 100px;
    height: 60px;
}


#contactus{
    padding-top:20px;
}
